<%- include('../partials/_movieNav.ejs') %>
<div class="data-form">
  <form class="form-signin" action="/movieStock/post" method="POST">
    <h2 style="text-align: center" class="form-signin-heading">New Movie</h2>

    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        class="form-control"
        value="<%= movie.title || movie.original_title %>"
        autofocus
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        name="description"
        id="description"
        class="form-control"
        value="<%= movie.overview %>"
      />
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <select name="genre" id="genre" required>
        <option value="Action">Action</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Horror">Horror</option>
        <option value="Mystery">Mystery</option>
        <option value="Romance">Romance</option>
        <option value="Thriller">Thriller</option>
        <option value="Western">Western</option>
        <option value="Other">Other</option>
      </select>
    </div>

    <div class="form-group">
      <label for="runtime">Language</label>
      <input
        type="text"
        name="Language"
        id="Language"
        class="form-control"
        value="<%= movie.original_language %>"
      />
    </div>

    <div class="form-group">
      <label for="runtime">Image URL</label>
      <input
        type="text"
        name="imageURL"
        id="imageURL"
        class="form-control"
        value="<%= movie.original_language %>"
      />
    </div>

    <div class="form-group">
      <label for="rate">Rate</label>
      <input
        type="number"
        name="rate"
        id="rate"
        class="form-control"
        value="<%= movie.vote_average %>"
      />
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        id="price"
        class="form-control"
        placeholder="Price"
      />
    </div>

    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Submit
    </button>
  </form>
</div>
