<%- include('../partials/_movieNav.ejs') %>
<img style="margin: auto; height: 40vh;" src="<%= image %>" />

<h1><%= movie.title %></h1>
<p>Director: <%= movie.director %></p>
<p>Description: <%= movie.description %></p>
<p>Genre: <%= movie.genre %></p>
<p>Runtime: <%= movie.runtime %></p>
<p>Price: $<%= movie.price%></p>

<a href="/movies/<%= movie._id %>/edit" role="button" class="btn btn-warning">Edit</a>
<form action="/movies/<%= movie._id %>/delete" method="POST" style="display: inline;">
    <input type="hidden" name='title' value="<%= movie.title%>">
    <input type="submit" class="btn btn-danger" value="Delete" onclick="window.confirm('Are you sure you want to delete this movie?')">
</form>